<!DOCTYPE html>
<head>
  <title>Play Chess</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='knight.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='knight.png') }}" class="icon" />
  <h3>Play Chess with Davinci</h3>
  <form action="/" method="post">
    <input type="text" name="animal" placeholder="Enter a chess move (e.g., B3)" required />
    <input type="submit" value="Generate move" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
